p {
  font-family: Arial;
  font-size: 14px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.view-date {
  color: rgb(96, 96, 96);
  margin-top: 0px;
}

.author {
  color: rgb(25, 23, 23);
  margin-top: 0px;
}

.body {
  color: rgb(25, 23, 23);
  margin-top: 0px;
  width: 300px;
  line-height: 20px;
}

.msg {
  margin-top: 200px;
  background-color: red;
  color: white;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.shop-link:hover {
  cursor: pointer;
  color:black;
}